<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sistema.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Properties.Settings.StudifyConnectionString"
            connectionString="Data Source=Matheus-PC;Initial Catalog=Studify;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sistema.Properties.Settings.StudifyConnectionString1"
            connectionString="Data Source=mssql03.redehost.com.br,5003;Initial Catalog=Studify;User ID=pedro;Password=Class@dmin97"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Sistema.Properties.Settings>
            <setting name="strCn" serializeAs="String">
                <value>Data Source=mssql03.redehost.com.br,5003;Initial Catalog=Studify;User ID=pedro;Password=Class@dmin97</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>versão 1.30</value>
            </setting>
        </Sistema.Properties.Settings>
    </userSettings>
</configuration>